header{
    position: sticky;
    top: 0;
    background-color: navajowhite;
    height: 150px;

}


#menu{
    position: absolute;
    left: 0%;
    width: 130px;
    height: 130px;
}

#main_logo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: blue;
}

body{
    background-color: green;
    font-size: 30px;
}
footer{
    background-color: red;
    height: 100px;
}   